@media screen and (max-width:1200px){
    
}
@media screen and (max-width:992px){
    
}
@media screen and (max-width:768px){
    #landingPage{
        #title{
            h1{
                font-size: 9rem !important;
            }
        }
    }
    #aboutPage{
        background-size: 170% !important;
        background-position: -16rem 37rem !important;
        #skills{
            width: 61% !important;
            .progress{
                width: 100% !important;
            }
        }
        // #aboutPage-right{
        //     margin-top: 5rem;
        // }
        .more-about{
            margin-top: 25px;
        }
    }
    #workPage{
        .my-work{
            #bgL{
                left: 175px !important;
            }
            h3{
                text-align: center !important;
            }
            .col-lg-4{
                display: flex !important;
                justify-content: center !important;
            }
        }
    }
}
@media screen and (max-width:576px){
    .a-display{
        display: block;
    }
    .nav-display{
        display: none !important;
    }
    #landingPage{
        height: 95vh !important;
        #title{
            h1{
                font-size: 4.5rem !important;
                text-align: center;
            }
            p{
                bottom: -29px !important;
                left: 23% !important;
                font-size: 16px !important;
                padding: 0 20px !important;
            }
        }
    }
    #navBar{
        margin-top: -54px !important;
        padding: 15px 0px !important;
    }
    #aboutPage{
        background-size: 300% !important;
        background-position: -23rem 48rem !important;
        margin-top: 40px !important;
        #aboutPage-left{
            p{
                font-size: 9rem !important;
            }
        }
        #aboutPage-right{
            #paraForm{
                width: 95% !important;
                #caption{
                    left: auto !important;
                }
                p{
                    width: 83% !important;
                }
            }
        }
        #skills{
            width: 100% !important;
        }
    }
    #workPage{
        
        .my-work{
            width: 100% !important;
            #bgL{
                left: 65px !important;
            }
            p{
                text-align: justify !important;
            }
        }
    }
}
@media screen and (max-width:375px){
}
@media screen and (max-width:320px){
    #landingPage{
        #title{
            h1{
                font-size: 2.5rem !important;
                text-align: center;
            }
        }
    }
}