// color variables
$primary-color:#018695;
$secondary-color:#005961;
$active-color:#6FE9EC;
$text-color:#324B4E;
$light-color:#DCECE7;

// fonts
@font-face {
    font-family: GillSans;
    src: url('../fonts/GILSANUB.TTF');
}
@font-face {
    font-family: GillSansMT;
    src: url('../fonts/GIL_____.TTF');
}

//mixin
@mixin centering-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

// ready made classes

.nav-active{
    background-color: $primary-color !important;
    border-radius: 50px;
    li{
        background-color: $primary-color !important;
        border-radius: 50px;
        font-weight: 500;
        color: white;
    }
}
.a-display{
    display: none;
}
.nav-display{
    display: block;
}
.nav-link{
    padding: 0 !important;
}
.smNav-origin{
    transform: translateY(-300px);
    // visibility: hidden;
    height: 0;
    li{
        height: 0;
    }
}
.smNav-active{
    transform: translateY(0);
    // visibility: visible;
    height: 230px;
    li{
        height: 44px;
    }
}
.navBurger-active{
    background-color: $primary-color;
    border-radius: 3px;
    color: white !important;
    padding: 0px 3px;
}
a{
    text-decoration: none !important;
    color: $primary-color;
    color: white;
    &:hover{
        color: $active-color;
    }
}

// some variables used in animations are declared in _animation.css
