// color variables
$primary-color:#018695;
$secondary-color:#005961;
$active-color:#6FE9EC;
$text-color:#324B4E;

// fonts
@font-face {
    font-family: GillSans;
    src: url('../fonts/GILSANUB.TTF');
}
@font-face {
    font-family: GillSansMT;
    src: url('../fonts/GIL_____.TTF');
}

//mixin
@mixin centering-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

// ready made classes
.nav-active{
    background-color: $primary-color !important;
    border-radius: 50px;
    li{
        background-color: $primary-color !important;
        border-radius: 50px;
        font-weight: 500;
        color: white;
    }
}
.a-display{
    display: none;
}
.nav-display{
    display: block;
}
.smNav-origin{
    transform: translateY(225px);
    visibility: hidden;
}
.smNav-active{
    transform: translateY(0);
    visibility: visible;
}
.navBurger-active{
    background-color: $primary-color;
    border-radius: 3px;
    color: white !important;
    padding: 0px 3px;
}
a{
    text-decoration: none !important;
    color: $primary-color;
    color: white;
    &:hover{
        color: $active-color;
    }
}
@-webkit-keyframes about-a {
    from{
        clip-path: circle(0% at 0 50%);
    }
    to{
        clip-path: circle(135% at 0 50%);
    }
}
@keyframes about-a {
    from{
        clip-path: circle(0% at 0 50%);
    }
    to{
        clip-path: circle(135% at 0 50%);
    }
}
.animate__about-a{
    #a1{
        animation: about-a 2s ease-out 0.5s both alternate;
    }
    #a2{
        animation: about-a 2s ease-out both alternate;
    }
    #a3{
        animation: about-a 2s ease-out 1s both alternate;
    }
}
