@import 'variables';
@import 'animations';
@import 'responsive';

*{
    scroll-behavior: smooth;
}

body{
    font-family: Montserrat;
    background-color: $primary-color;
    color: white;
    #landingPage{
        position: relative;
        &::before{
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 0;
            // background-image: linear-gradient(to top, #ffffff 60%, #ffffff90 100%);
            background-image: linear-gradient(to top, #018695 60%, #01869590 100%);

            animation: landing-bg 1s linear 3s both;
        }
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url(../img/landing-bg-1.png);
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
        #title{
            animation: title-border 1s ease-out 2.5s both;
            border-radius: 24px;
            padding: 17px 40px;
            position: relative;
            box-shadow: 3px 2px 1px #00000040;
            h1{
                color: $primary-color;
                font-family: GillSans !important;
                font-size: 10rem;
                text-shadow: 0px 10px 3px #00000040;

                #a{
                    animation: title-alto 1s linear both;
                }
                #l{
                    animation: title-alto 1s linear 0.5s both;
                }
                #t{
                    animation: title-alto 1s linear 1s both;
                }
                #o{
                    animation: title-alto 1s linear 1.5s both;
                }
                #colon{
                    animation: title-alto 1s linear 2s both;
                }
            }
            p{
                
                position: absolute;
                bottom: -50px;
                left: 38%;
                font-size: 20px;
                color: $active-color;
                font-weight: 500;
                display: inline;
                background: $primary-color;
                border-radius: 40px;
                padding: 20px 30px;
                .sub-name{
                    animation: title-p 1s ease-out 2.5s both;
                }
            }
        }
        #job{
            position: relative;
            margin-top: 50px;
            p{
                font-family: GillSansMT;
                text-align: center;
                font-size: 20px;
            }
        }
    }
    #navBar{
        margin-top: -64px;
        position: fixed;
        z-index: 5000;
        bottom: 0;
        width: 100%;
        background-color: $light-color;
        padding: 11px 0px;
        box-shadow: 0px -3px 3px #00000040;
        #navDiv{
            display: flex;
            justify-content: center;
            align-items: center;
            ul{
                list-style-type: none;
                display: flex;
                font-size: 15px;
                margin: 0 !important;
                a{
                    color: $text-color !important;
                }
                li{
                    padding: 10px 15px;
                    cursor: pointer;
                    margin: 0px 20px;
                    
                }
            }
            #navBurger{
                transition: 0.5s linear;
                color: $text-color;
                padding: 0px 20px;
            }
        }
    }
    #smNav{
        background-color: $light-color;
        position: fixed;
        width: 100%;
        bottom: 50px;
        z-index: 4005;
        // animation: smNav-ani 0.5s ease-out both;
        transition: 0.5s ease-in;
        #navDiv{
            ul{
                text-align: center;
                padding: 5px 130px !important;
                margin: 0 !important;
                list-style-type: none;
                a{
                    color: $text-color !important;
                }
                li{
                    padding: 10px 0;
                }
                
            }
        }
    }
    #aboutPage{
        background-image: url(../img/sfs.svg);
        background-repeat: no-repeat;
        background-size: 125%;
        background-position: -9rem 21rem;
        #aboutPage-row-1{
            #aboutPage-left{
                display: flex;
                justify-content: center;
                align-items: center;
                
                p{
                    // display:inline;
                    text-align: center;
                    font-size: 10rem;
                    font-family: GillSans;
                    line-height: 0.6;
                    // text-shadow: 0 5px 2px #00000040;
                    filter: drop-shadow(0 5px 2px #00000040);
                }
                #a1{
                    animation: about-a 2s ease-out 0.5s both alternate;
                    margin-right: -3.2rem;
                    margin-top: 2rem;
                }
                #a2{
                    margin-bottom: 10rem;
                    
                    z-index: -1;
                    animation: about-a 2s ease-out both alternate;
                }
                #a3{
                    margin-left: -3.2rem;
                    margin-top: 2rem;
                    animation: about-a 2s ease-out 1s both alternate;
                }
            }
            #aboutPage-right{
                display: flex;
                justify-content: center;
                #paraForm{
                    &::before{
                        content: "";
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        border-radius: 24px;
                        top: 0;
                        left: 0;
                        z-index: -1;
                        background-image: linear-gradient(160deg, $active-color, $secondary-color);
                    }
                    &::after{
                        content: "";
                        position: absolute;
                        width: 99%;
                        height: 99%;
                        border-radius: 24px;
                        top: 2px;
                        left: 2px;
                        z-index: -1;
                        background-color: #018695;
                    }
                    position: relative;
                    z-index: 5;
                    width: 75%;
                    background-color: $primary-color;
                    // border: 0.1px solid $active-color;
                    box-shadow: 3px 4px 2px #00000040;
                    border-radius: 24px;
                    padding: 40px 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    #caption{
                        position: absolute;
                        top: -29px;
                        left: 59px;
                        font-family: GillSansMT;
                        font-weight: bold;
                        background-color: $primary-color;
                        padding: 7px 14px;
                    }
                    p{
                        width: 70%;
                        text-align: justify;
                        display: inline-block;
                        margin: 0px;
                    }
                }
            }
        }
        #aboutPage-row-2{
            margin-top: 50px;
            .more-about{
                display: flex;
                justify-content: center;
                div{
                    h3{
                        font-family: GillSansMT;
                        font-weight: bold;
                        margin-bottom: 15px;
                        letter-spacing: 4px;
                    }
                    h6{
                        font-weight: bold;
                        
                    }
                    p{
                        font-style: italic;
                    }
                }
              
                #skills{
                    width: 100%;
                    .progress{
                        .line{
                            // content: "";
                            position: absolute;
                            left: 0;
                            top: 0;
                            background-image: linear-gradient(to right, $primary-color, $active-color) ;
                            height: 100%;
                        }
                        transition: 0.5s;
                        box-shadow: 2px 4px 2px #00000040;
                        background-color: $secondary-color;
                        margin-bottom: 20px;
                        position: relative;
                        width: 70%;
                        height: 25px;
                        border: 0.5px solid $primary-color !important;
                        border-radius: 0px !important;
                        &:hover{
                            border: 0.5px solid $active-color !important;
                        }
                    }
                    #progress-1{
                        .line{
                            width: 90%;
                            animation: progress-ani-1 0.5s ease-out 0.5s both;
                        }
                    }
                    #progress-2{
                        .line{
                            width: 80%;
                            animation: progress-ani-2 1s ease-out 0.5s both;
                        }
                    }
                    #progress-3{
                        .line{
                            width: 95%;
                            animation: progress-ani-3 1.5s ease-out 0.5s both;
                        }
                    }
                }
                
            }

        }
    }
    #workPage{
        background-color: $secondary-color;
        padding-top: 100px;
        padding-bottom: 20px;
        #wp-title{
            font-family: GillSansMT;
            text-align: center;
            font-weight: bold;
        }
        #wp-des{
            text-align: center;
            margin-bottom: 3rem !important;
        }
        .warper{

            .my-work{
                #bgL{
                    position: absolute;
                    z-index: 0;
                    left: 75px;
                    bottom: 0px;
                    width: 160px;
                    height: 50%;
                    .ls{
                        display: inline-block;
                        width: 30px;
                        height: 100%;
                        margin-right: 15px;
                        background-color: $text-color;
                    }
                    #l1{
                        animation: ls-ani 0.5s linear 1s both ;
                    }
                    #l2{
                        animation: ls-ani 0.5s linear 1.4s both ;
                    }
                    #l3{
                        animation: ls-ani 0.5s linear 1.6s both ;
                    }
                }
                width: 65%;
                position: relative;
                border-radius: 33px;
                margin:10px auto;
                padding: 26px 33px;
                color: $text-color;
                background-color: $light-color;
                box-shadow: 2px 5px 10px #6FE9EC80;
                margin-bottom: 30px;
                h3{
                    font-family: GillSans;
                    font-weight: bold;
                }
                p{
                    text-align: justify !important;
                    background-color: $light-color;
                }
                .view-btn{
                    color: $primary-color;
                    font-family: GillSansMT;
                    font-weight: bold;
                    border: 0.1px solid $primary-color;
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    padding: 6px 20px;
                    float: right;
                    p{
                        margin: 0px;
                        font-size: 22px;
                        letter-spacing: 2px;
                        
                    }
                }
            }
        }
        #viewWork{
            text-align: center;
            a{
                display: inline-block;
                width: 100px;
                h6{
                    text-decoration: underline;
                }
            }
        }
    }
    #blogPage{
        height: 100vh;
        background-image: url(../img/blog-bg.png);
        background-size: cover;
        background-position: bottom;
        background-repeat: no-repeat;
        position: relative;
        #title-txt{
            position: absolute;
            left: 33%;
            bottom: 100px;
            font-family: GillSans;
            color: white;
            font-size: 4rem;
            text-shadow: -13px 7px 6px #bfc9d2;
        }
        .row{
            height: 100%;
            #blogPageLeft{
                display: flex;
                justify-content: center;
                #bibleVerse{
                    width: 70%;
                    text-shadow: -5px 7px 5px #bfc9d2;
                    margin-top: 100px;
                    color: $text-color;
                    p{
                        font-weight: bold;
                        font-size: 22px;
                        text-align: justify;
                        margin-bottom: 0;
                    }
                    h3{
                        font-family: GillSansMT;
                        float: right;
                        font-weight: bold;
                        font-size: 40px;
                    }
                }
            }
            #blogPageRight{
                // @include centering-flex;
                #visitBlog{
                    text-align: center;
                    margin-top: 10px;
                    p{
                        
                        color: $text-color;
                        text-decoration: underline !important;
                        font-weight: bold;
                        
                        display: inline;
                    }
                    
                }
                #blogs-wrapper{
                    background-color: #DCECE750;
                    margin-top: 20px;
                    border-radius: 10px;
                    overflow-y: auto;
                    box-shadow: 0px -3px 5px #00000040 inset;
                    
                    height: 90vh;
                    h3{
                        text-align: center;
                        font-weight: bold;
                        color: $text-color;
                        font-family: GillSans;
                        font-size: 20px;
                        margin-top: 20px;
                    }
                    .blog-post{
                        &::before{
                            content: "";
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            border-radius: 5px;
                            top: 0;
                            left: 0;
                            z-index: 0;
                            background-color: #00000040;
                        }
                        color: white;
                        position: relative;
                        box-shadow: -3px 2px 3px #00000070;
                        .hanger{
                            font-family: GillSans;
                            position: absolute;
                            top: -20px;
                            left: 0;
                            font-weight: bolder;
                            font-size: 25px;
                            text-shadow: 1px 2px 5px #bfc9d2;
                        }
                        #blog-des{
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            top: 0;
                            left: 0;
                            z-index: 3;
                            padding: 20px;
                            padding-top: 50px;
                            title{
                                font-weight: bold;
                            }
                            p{
                                font-size: 12px;
                                a{
                                    text-decoration: underline !important;
                                }
                            }
                        }
                        
                        background-image: url(../img/blog.jpeg);
                        background-repeat: no-repeat;
                        background-size: cover;
                        background-position: center;
                        width: 50%;
                        height: 180px;
                        
                        cursor: pointer;
                        margin: 30px auto;
                        border-radius: 5px;
                    }
                }
            }
        }

    }
    #contactPage{
        height: 100vh;
        h1{
            font-size: 30px;
            text-align: center;
            font-weight: bold;
            margin-top: 50px;
            
        }
        #socialBar{
            margin-top: 50px;
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
            #fb{
                animation: links-ani 1s ease-out 0.5s both;
            }
            #github{
                animation: links-ani 1s ease-out 1s both;
            }
            #linkedin{
                animation: links-ani 1s ease-out 1.5s both;
            }
            #twitter{
                animation: links-ani 1s ease-out 2s both;
            }
            .links{
                
                text-align: center;
                width: 100px;
                text-shadow: 0px 10px 3px #00000040;
                display: inline-block;
                transition: 0.5s;
                
                &:hover{
                    color: $text-color;
                }
                svg{
                    
                    font-size: 4rem;
                    filter: drop-shadow(0px 10px 1px #00000040);
                }
                h1{
                    
                    font-size: 7rem;
                    font-family: GillSans;
                    margin: 0;
                    margin-top: -50px;
                }
            }
        }
        #details{
            display: table;
            margin: auto;
            margin-top: 50px;
            h3{
                font-size: 25px;
                font-weight: bold;
            }
            
        }
        #dev{
            display: table;
            margin: auto;
            color: $text-color;
            background-color: white;
            padding: 20px;
            transition: 0.5s;
            svg{
                font-size: 50px;
            }
            p{
                display: inline;
                margin: 0;
            }
            &:hover{
                background-color: $text-color;
                color: white;
            }
        }
    }
}
// Scroll Bar
::-webkit-scrollbar {
    width: 10px;
    display: none;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: $light-color;
    padding: 5px; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:$secondary-color;
    border-radius: 2px; 
    
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background:$active-color; 
  }