@import 'variables';
@import 'animations';
@import 'responsive';

*{
    scroll-behavior: smooth;
}

body{
    font-family: Montserrat;
    height: 300vh;
    background-color: $primary-color;
    color: white;
    #landingPage{
        position: relative;
        &::before{
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 0;
            // background-image: linear-gradient(to top, #ffffff 60%, #ffffff90 100%);
            background-image: linear-gradient(to top, #018695 60%, #01869590 100%);

            animation: landing-bg 1s linear 3s both;
        }
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url(../img/landing-bg-1.png);
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
        #title{
            border: 4px solid;
            border-image-slice: 1;
            border-image-source: linear-gradient(to left, #32909C, #75F1F3);
            animation: title-border 1s ease-out 2.5s both;
            border-radius: 24px;
            padding: 17px 40px;
            position: relative;
            box-shadow: 3px 2px 1px #00000040;
            h1{
                color: $primary-color;
                font-family: GillSans !important;
                font-size: 10rem;
                text-shadow: 0px 10px 3px #00000040;

                #a{
                    animation: title-alto 1s linear both;
                }
                #l{
                    animation: title-alto 1s linear 0.5s both;
                }
                #t{
                    animation: title-alto 1s linear 1s both;
                }
                #o{
                    animation: title-alto 1s linear 1.5s both;
                }
                #colon{
                    animation: title-alto 1s linear 2s both;
                }
            }
            p{
                
                position: absolute;
                bottom: -50px;
                left: 38%;
                font-size: 20px;
                color: $active-color;
                font-weight: 500;
                display: inline;
                background: $primary-color;
                border-radius: 40px;
                padding: 20px 30px;
                .sub-name{
                    animation: title-p 1s ease-out 2.5s both;
                }
            }
        }
        #job{
            position: relative;
            margin-top: 50px;
            p{
                font-family: GillSansMT;
                text-align: center;
                font-size: 20px;
            }
        }
    }
    #navBar{
        margin-top: -64px;
        position: fixed;
        z-index: 5000;
        bottom: 0;
        width: 100%;
        background-color: $secondary-color;
        padding: 11px 0px;
        #navDiv{
            display: flex;
            justify-content: center;
            align-items: center;
            ul{
                list-style-type: none;
                display: flex;
                font-size: 15px;
                margin: 0 !important;
                li{
                    padding: 10px 15px;
                    cursor: pointer;
                    margin: 0px 20px;
                }
            }
            #navBurger{
                transition: 0.5s linear;
            }
        }
    }
    #smNav{
        background-color: $secondary-color;
        position: fixed;
        width: 100%;
        bottom: 50px;
        z-index: 4005;
        // animation: smNav-ani 0.5s ease-out both;
        transition: 0.5s ease-out;
        #navDiv{
            ul{
                text-align: center;
                padding: 5px 130px !important;
                margin: 0 !important;
                list-style-type: none;
                li{
                    padding: 10px 0;
                }
                
            }
        }
    }
    #aboutPage{
        background-image: url(../img/sfs.svg);
        background-repeat: no-repeat;
        background-size: 125%;
        background-position: -9rem 21rem;
        #aboutPage-row-1{
            #aboutPage-left{
                display: flex;
                align-items: center;
                justify-content: center;
                h1{
                    text-align: center;
                    font-size: 10rem;
                    font-family: GillSans;
                    line-height: 0.6;
                    // text-shadow: 0 5px 2px #00000040;
                    filter: drop-shadow(0 5px 2px #00000040);
                    #a1{
                        // animation: about-a 2s ease-out 0.5s infinite alternate;
                    }
                    #a2{
                        // animation: about-a 2s ease-out infinite alternate;
                    }
                    #a3{
                        // animation: about-a 2s ease-out 1s infinite alternate;
                    }
                }
            }
            #aboutPage-right{
                display: flex;
                justify-content: center;
                #paraForm{
                    position: relative;
                    width: 75%;
                    border: 0.1px solid $active-color;
                    box-shadow: 3px 4px 2px #00000040;
                    border-radius: 24px;
                    padding: 40px 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    #caption{
                        position: absolute;
                        top: -29px;
                        left: 59px;
                        font-family: GillSansMT;
                        font-weight: bold;
                        background-color: $primary-color;
                        padding: 7px 14px;
                    }
                    p{
                        width: 70%;
                        text-align: justify;
                        display: inline-block;
                        margin: 0px;
                    }
                }
            }
        }
        #aboutPage-row-2{
            margin: 50px 0;
            .more-about{
                display: flex;
                justify-content: center;
                div{
                    h3{
                        font-family: GillSansMT;
                        font-weight: bold;
                        margin-bottom: 15px;
                    }
                    h6{
                        font-weight: bold;
                        
                    }
                    p{
                        font-style: italic;
                    }
                }
              
                #skills{
                    width: 100%;
                    .progress{
                        &::before{
                            content: "";
                            position: absolute;
                            left: 0;
                            top: 0;
                            background-color: $primary-color;
                            height: 100%;
                        }
                        transition: 0.5s;
                        box-shadow: 2px 4px 2px #00000040;
                        background-color: $secondary-color;
                        margin-bottom: 20px;
                        position: relative;
                        width: 70%;
                        height: 25px;
                        border: 0.5px solid $primary-color !important;
                        border-radius: 0px !important;
                        &:hover{
                            border: 0.5px solid $active-color !important;
                        }
                    }
                    #progress-1{
                        &::before{
                            width: 90%;
                        }
                    }
                    #progress-2{
                        &::before{
                            width: 80%;
                        }
                    }
                    #progress-3{
                        &::before{
                            width: 95%;
                        }
                    }
                }
                
            }

        }
    }
}